<ion-content class="auth-form">
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button size="large" color="medium"><a [routerLink]="['../Store']"
              class="small-text forget-link">الفروع </a></ion-button>
          <ion-button size="large" color="medium"><a [routerLink]="['../Store/sections']"
              class="small-text forget-link">الاقسام </a></ion-button>
          <ion-button size="large" color="medium"><a [routerLink]="['../Store/role']"
              class="small-text forget-link">الصلاحيات </a></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
