<ion-header>
  <ion-toolbar class="top-header" color="primary">
    <h3 class="top-header"> صلاحيات فرعية </h3>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item *ngFor="let item of suproleslist">
    <ion-router-link> {{ item.id }} - {{ item.subRole_Description }}
      <br>
      <span class="primary">التقييم :</span>
      {{item.total_Points}}
    </ion-router-link>
    <div class="item-note ion-float-left" item-end>
      <ion-button color="primary" ion-button clear (click)="updatesuprole(item.id,item.roleID)">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button color="danger" ion-button clear (click)="deletesuprole(item.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
</ion-list>
<button (click)="add()" class="add-new-item">
  <span class="icon">+</span> اضافة عنصر جديد
</button>


