<ion-header>
  <ion-toolbar class="top-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <div class="header-login">
    <h3> اعد ضبط كلمه السر</h3>
  </div>

  <ion-content>
    <form>
      <ion-item lines="full" lines="none">
        <ion-input class="input" type="email" required placeholder="البريد الإلكتروني"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="#eb445a" expand="block" class="btn-login" shape="round">ارسال</ion-button>
        </ion-col>
      </ion-row>
      <p>
        <small>
          يرجى تقديم اسم المستخدم أو عنوان البريد الإلكتروني الذي استخدمته
        </small>
      </p>
      </form>
  </ion-content>
